#oddbtoolwin {position:absolute; left:240px; top:5px; width:290px; font-family:Arial,Sans; font-size:9px; color:white; z-index:2; background-color:rgba(0,0,0,0.5)}
#oddbtoolwin a {font-family:Arial,Sans; font-size:9px}

#oddbtoolheadline{position:absolute; top:85px; left:450px; width:650px; text-align:center;}

#oddbtoolfowtbl{position:absolute; top:575px; left:300px; width:700px; background-color:rgba(255,255,255,0.15); padding:10px; -moz-border-radius:12px; border-radius:12px; font-family:Arial,Sans; font-size:12px; color:white; z-index:1;}
#oddbtoolfowtbl table{width:100%}
#oddbtoolfowtbl th, #oddbtoolfowtbl td, #oddbtoolfowtbl a {font-size:9pt;padding:5px}
#oddbtoolfowtbl th{background-color:rgba(255,255,255,0.1); text-align:left; font-weight:bold;}
#oddbtoolfowtbl td:first-child{font-weight:bold; padding-left:8px;}
#oddbtooliframe {display:none}

.oddbtoolplanet {position:absolute; width:100px; background-position:3px -3px; background-repeat:no-repeat; font-size:11px}
.oddbtoolorbit {position:relative;background-color:rgba(0,0,0,0.5);top:-72px;left:0px;text-align:center;font-size:11px !important}
.oddbtoolorbitoverride {position:relative}
.oddbtoolorbitoverride:hover {text-decoration:none !important}
.oddbtoolplanet a {font-size:11px}
.oddbtoolplanet img {border:none;}

.oddbtooladd3 {float:right; margin-right:10px; margin-top:20px; font-size:11px}
.oddbtoollink:hover, .oddbtoolorbit a:hover {text-decoration:none !important;}

.oddbtoolmenu {position:absolute; width:140px; background-color:rgba(30,30,30,0.9); padding:5px; -webkit-border-radius:6px; font-family:Arial,Sans; z-index:2;}
.oddbtoolmenu a {display:block; color:white !important; font-size:11px !important; padding:4px;}
.oddbtoolmenu a:hover {background-color:#282828; text-decoration:none;}

.oddbtoolr {background-position:30px 30px;}
.oddbtoolrbera {background-position:-47px 0px;}
.oddbtoolrlux {background-position:-77px 0px;}
.oddbtoolrmensch {background-position:-107px 0px;}
.oddbtoolrmyri {background-position:-137px 0px;}
.oddbtoolrtrado {background-position:-197px 0px;}
.oddbtoolrtiroc {background-position:-167px 0px;}
.oddbtoolrrevisker {background-position:-227px 0px;}
#oddbtoolkommentar {position:absolute; top:350px; left:400px; background-color:rgba(30,30,30,0.9); padding:8px; font-size:11px; -webkit-border-radius:8px; border-radius:8px; text-align:right; display:none; z-index:4;}
#oddbtoolkommentar iframe {width:160px; height:85px; border:none;}
#oddbtoolkommentar a {font-size:13px; font-weight:bold; cursor:pointer;}